/* quita el margen del body
color del fondo
color de las letras
tipo de fuente */
.body {
    margin: 0;
    background-color: #16181d;
    color: white;
    font-family: monospace;
  }
  /*
    Saca el header y lo posiciona sobre toda la pagina
    Le da espacio arriba y abajo
    Hace que ocupe todo el espacio
    Agrega sombra al header
  */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16181d;
    box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.5);
  }
/*   
  Agrega relleno arriba y abajo
   */
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* Pone un limite maximo del contenedor
  Le da relleno a la derecha e izquierda
  Agarra el espacio y lo divide en 2*/
  .container {
    max-width: 1024px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: auto;
  }
  
  .img {
    display: block;
  }
  
  .img--logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.25s color;
  }
  
  .link:hover {
    color: #087ea4;
  }
  
  .flexbox {
    display: flex;
  }
  
  .flexbox--header {
    align-items: center;
    justify-content: space-between;
  }
  
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    max-width: 512px;
  }
  
  .card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .card__title {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card__title--lg {
    font-size: 1.75rem;
  }
  
  .card__text {
    margin: 0;
  }
  
  .icon {
    padding: 0.5rem;
    display: flex;
    font-size: 1rem;
    color: #149eca;
    box-shadow: 0 0 0 0.125rem #149eca;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    text-shadow: 0 0 0.5rem red;
  }
  
  .icon i {
    display: flex;
  }
  .g-layout {
    display: grid;
  }
  
  .g-layout--1-1 {
    grid-template-columns: 1fr;
  }
  
  @media (min-width: 768px) {
    .g-layout--1-1 {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .d-flex {
    display: flex;
  }
  
  .gap-xs {
    gap: 1rem;
  }
  
  .color-primary {
    color: #149eca;
  }
  
  .d-none {
    display: none;
  }
  
  @media (min-width: 768px) {
    .md\:d-block {
      display: block;
    }
  }