@import './modules/variables/variables.css';
@import './modules/layouts/container.css';
@import './modules/layouts/flexbox.css';
@import './modules/components/header.css';
@import './modules/components/nav.css';
@import './modules/components/hero.css';
@import './modules/components/list.css';
@import './modules/content/link.css';
@import './modules/utils/utils.css';

.body {
  margin: 0;
  background-color: var(--primary-background-color);
  font-family: var(--primary-font-family);
}