.container {
    max-width: var(--primary-max-width);
    padding-top: calc(var(--primary-element-spacing) * 0.75);       
    padding-bottom: calc(var(--primary-element-spacing) * 0.75);
    margin: 0 auto; 
}